<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
         <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </a>

   {% if page.sect == 'goxc' %}
	   {% include custom/header-goxc.html %}
   {% elsif page.sect == 'mkdo' %}
	   {% include custom/header-mkdo.html %}
   {% else %}
	  {% include custom/header.html %}
   {% endif %}

	</div>
      </div>
   </div>

<!--
<hgroup>
  <h1 class="site-title"><a href="{{ root_url }}/">{{ site.title }}</a></h1>
  {% if site.subtitle %}
    <h2>{{ site.subtitle }}</h2>
  {% endif %}
</hgroup>
-->
