<hr />
<div class="container">
<footer>
<span  title="Content licenced under Creative Commons by-nc-sa 3.0">
   <a title="Content licenced under Creative Commons by-nc-sa 3.0" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">&copy;</a>
   2012-{{ site.time | date: '%Y' }} {{ site.author }}
</span>
&nbsp;&nbsp;&nbsp;&nbsp; <a href="http://laher.github.com/" class="btny btn-github"><span class="icon"></span>GitHub</a>
<div style='float:right'>
  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>
</div>
</footer>
</div>
