	    <div style='float:right'>
            <div class="nav-collapse collapse">
               <ul class="nav">
                 <li><a href="https://github.com/laher/goxc">goxc</a></li>
                 <li><a href="https://github.com/laher/someutils">someutis</a></li>
                 <li><a href="/ChordialJS/">ChordialJS</a></li>
                 <li><a href="https://github.com/laher/mkdo">mkdo</a></li>
                 <li><a href="https://github.com/laher/nettis">nettis</a></li>
               </ul>
            </div><!--/.nav-collapse -->
            </div>

            <a class="brand" href="/">laher.net.nz</a>

