<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
         <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </a>

	    <div style='float:right'>
            <div class="nav-collapse collapse">
               <ul class="nav">
                 <li><a href="/goxc/">goxc</a></li>
                 <li><a href="/ChordialJs/">ChordialJS</a></li>
                 <li><a href="/mkdo/">mkdo</a></li>
                 <li><a href="https://github.com/laher/nettis">nettis</a></li>
               </ul>
            </div><!--/.nav-collapse -->
            </div>

            <a class="brand" href="/">laher.net.nz</a>
        </div>
      </div>
   </div>

<!--
<hgroup>
  <h1 class="site-title"><a href="{{ root_url }}/">{{ site.title }}</a></h1>
  {% if site.subtitle %}
    <h2>{{ site.subtitle }}</h2>
  {% endif %}
</hgroup>
-->
