            <div style='float:right'>
               <div class="">
               <ul class="nav">
                  <li><a href="/">laher.net.nz</a></li>
               </ul>
               </div>
            </div>

            <a class="brand" href="/mkdo/">mkdo</a>
            <div class="nav-collapse collapse">
               <ul class="nav">
                 <li><a href="/mkdo/">Home</a></li>
                 <li><a href="/mkdo/dl/">Downloads</a></li>
                 <li><a href="https://www.github.com/laher/mkdo/">Code</a></li>
                 <li><a href="https://www.github.com/laher/mkdo/wiki">Wiki</a></li>
                 <li><a href="https://www.github.com/laher/mkdo/issues">Issues</a></li>
                 <li><a href="mailto:mkdo@laher.net.nz">Contact</a></li>
               </ul>
            </div><!--/.nav-collapse -->

